APP_ENV=production
APP_URL=https://tu-dominio.com

# Configuración de Base de Datos
DB_HOST=localhost
DB_NAME=webting_db
DB_USER=root
DB_PASS=

# Configuración de Documentos
UPLOAD_DIR=../uploads/

# Configuración del Administrador
ADMIN_USERNAME=//admin//
ADMIN_PASSWORD=loger2010
